[submodule "gene_symbol_row_numbers"]
	path = gene_symbol_row_numbers
	url = git@github.com:andrewdyates/gene_symbol_row_numbers.git
[submodule "gene_enrichment"]
	path = gene_enrichment
	url = git@github.com:andrewdyates/gene_enrichment.git
